<div class="ui segment">
	<h4 class="ui dividing header">Bulk SMS</h4>
	<p>{{ 'mango-sylius.admin.form.bulkSms.infoText'|trans }}</p>
	{{ form_row(form.bulkSms.enabled) }}
	{{ form_row(form.bulkSms.token) }}
	{{ form_row(form.bulkSms.tokenSecret) }}
	{{ form_row(form.bulkSms.sender) }}
	{{ form_row(form.bulkSms.routingGroup) }}
	{{ form_row(form.bulkSms.messageClass) }}
	{{ form_row(form.bulkSms.protocolId) }}
</div>
